html body {
    background-color: white;
    position: relative;
    margin: 0;
    min-height: 100vh;
}


.header_navbar{
    background-color: #86bd24;
}

.header_links{
    color: white;
}

.header_list_links {
    width: 90%;
}

.header_list_links li {
    margin-left: 5%;
    width: 200px;
}

.header_list_profile{
    width: 10%;
}

.submit-link {
    border: none;
    background-color: transparent;
    color: #3490dc;
}

.submit-link:hover {
    border: none;
    background-color: transparent;
    filter: grayscale(40%);
}

.dashboard_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;
}

.dashboard_title {

}

.dashboard_content {
    width: 80%;
    height: 500px;
    border: solid black 1px;
}

.header_form {
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header_dropdown {
    background-color: transparent;
    border: none;
    color: white;
}

//------------------------Home-------------------

.background_image{
    /* The image used */
    background-image: url("http://127.0.0.1/projetbeta/projetbetasite/public/images/tree.jpg");
    position: absolute;

    /* Add the blur effect */
    filter: blur(15px);


    /* Full height */
    height: 100%;
    width:100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home_container{

    margin: 0;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;

    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.home_logo{
    width: 40%;
    height: 40%;
}

.home_form_login {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 2%;
}

.home_form_login input {
    margin-bottom: 3%;
}

.home_form_login_reset {
    margin-top: 4%;
    text-align: center;
}

.home_form_login_create {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.home_form_login_create a {
    margin-left: 2%;
}

.home_form_login_content {
    margin-top: 1%;
}

#home_login_button {
    margin-top: 6%;
}

//------------------------Company--------------

#bouton_create_company{
    font-size: 40px;
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    margin: 50px;
}

.company_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;
}

.company_form{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 40%;
}

.company_search_bar {
    margin-right: 2%;
}

.company_list_div i {
font-size: 40px;
    margin-left: 80%;
}

.company_list_div h2 p {
    display: flex;
    justify-content: center;
}

.company_container_collapse{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
}

#company_link_search{
    cursor: pointer;
}

.company_collapse_container{
    width: 50%;
}

.company_collapse_search_content{
    margin-top: 3%;
}

#company_filter_distance {
    display: flex;
    flex-wrap: nowrap;
}

.company_list{
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.company_list_div{
    box-shadow: 0 10px 20px rgba(203,132,210,0.10), 0 6px 6px rgba(0,0,0,0.10);
    margin-top: 5%;
    margin-left: 5%;
    width: 300px;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

.company_list_content {
    width: 80%;
    overflow: hidden;
}


.company_pagination{
    width: 1000px;
    margin-top: 5%;
    align-items: center;
}

.company_pagination_liste {

}

//----------------------Dashboard---------------

.dashboard_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.dashboard_container_header{
    display: flex;
    flex-wrap: wrap;
}

.dashboard_container_image{
    width: 40%;
}

.dashboard_container_texts{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.dashboard_container_board {
    margin-top: 5%;
}

//---------------------Profile----------------------
.profile_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;
}


//---------------------Former-----------------------

.former_form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.former_form_content {
    margin-top: 2%;
}

//-------------------Modal creer compte-------------------------------

#home_close_modal{
    color: white;
}

.modal-content{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    border: 3px solid #f1f1f1;

}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}






