<!DOCTYPE html>

<title>Hello AccountController!</title>

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



<form action="{{ path('account_login') }}" method= "post">

<input type="text" name = "_username" id = "Email"  placeholder = "email" required>

<input type="text" name = "_password" id = "password"  placeholder = "password" required>
<button type = "submit">connexion</button>
</form>
{% endblock %}
